<!DOCTYPE html>
<html>
  <head>
    <title>Homework02Bookshelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Homework02Bookshelf', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            <%= link_to new_book_path, class: 'nav-link' do %>
              <i class="fa fa-plus-circle"></i>
              New Book
            <% end %>
          </li>


          <li>
            <%#<%= form_tag("/search", method: "get") do %>
            <%#<%= form_tag(book_search_path, method: "get") do %>
            <%= form_tag(books_path, method: :get ) do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search") %>
            <% end %>
          </li>


        </ul>
      </div>
    </nav>

    <ul class="assignment">
      <li>The purpose of this application is to build a simple book catalog application
  with the following features:</li>

  <li class="completed"> add book</li>
  <li class="completed"> update book</li>
  <li class="completed"> delete book</li>
  <li class="completed"> list all books</li>
  <li class="completed"> show book details</li>
  <li class="incomplete"> search for book by [title, author, year, classification, genre]</b></li>
</ul>

    <%= yield %>
  </body>
</html>
